@{
    ViewBag.Title = "Home Page";
}
@using Courses.Web.FrameworkExtentions

<div class="jumbotron">
    <h1>Courses registration system</h1>
    <p class="lead">
        N-Tier architecture using ASP.NET MVC 5 and Vanilla JavaScript with jQuery

        I hope you like it, because I do not :)
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Manage courses</h2>
        <p>
            @if (UserIdentityHelper.UserIsLoggedIn(this.User))
            {
                @Html.ActionLink("Manage Courses", "Index", "ManageCourses", null, null)
            }

            Please login or register
        </p>

    </div>
    <div class="col-md-4">
        <h2>List Courses</h2>
        <p>
            @if (UserIdentityHelper.UserIsLoggedIn(this.User))
            {
                @Html.ActionLink("List Courses", "Index", "ListCourses", null, null)
            }

            Please login or register
        </p>
    </div>
</div>