@model IEnumerable<Courses.Web.Models.ManageCourses.EditCourseGridViewModel>

@{
    ViewBag.Title = "EditCourses";
}

<link href="~/Content/MvcGrid/mvc-grid.css" rel="stylesheet">

<h2>EditCourses</h2>

@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(model => model.Id).Titled("Game ID").Css("hidden game-id");
        columns.Add(model => model.CourseName).Titled("Name").InitialSort(GridSortOrder.Desc);
        columns.Add(model => model.CoursePoints).Titled("Points");
        columns.Add(model => model.RegisteredStudents).Titled("Registered Users count");
    })
    .Pageable(pager =>
    {
        pager.PagesToDisplay = 10;
        pager.RowsPerPage = 3;
    })
    .Filterable()
    .Sortable()
    .Empty("No data found")
)

<script src="~/Scripts/jquery-2.1.4.js"></script>
<script src="~/Scripts/MvcGrid/mvc-grid.js"></script>

<script>
    $('.mvc-grid').mvcgrid();
</script>