@{
    ViewBag.Title = "Manage Courses";
}

<h2>@ViewBag.Title.</h2>

<div>
    <h4>Manage your courses</h4>

    @Html.ActionLink("Create new Course", "CreateNewCourse", "ManageCourses")

    @Html.ActionLink("Edit your Courses", "EditCourses", "ManageCourses")

    <hr />
</div>