CoursesRegistrationSystem/packages/
CoursesRegistrationSystem/Courses.Web/App_Data/aspnet-Courses.Web-20171031011829.mdf
CoursesRegistrationSystem/Courses.Web/App_Data/aspnet-Courses.Web-20171031011829_log.ldf
