@model IEnumerable<Courses.Web.Models.ListCourses.CourseListViewModel>

@if (Model.Any())
{
    <ul class="list-group">
        @foreach (var registeredCourse in Model)
            {
            <li class="list-group-item">@registeredCourse.CourseName</li>
            <li class="list-group-item">@registeredCourse.CoursePoints</li>
                <li>
                    @using (Ajax.BeginForm("UnregisterFromCourse", "ListCourses", new { @courseId = registeredCourse.Id }, new AjaxOptions()
                    {
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "courses-container"
                    }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-group">
                            <input type="submit" value="Unregister" class="btn btn-primary btn-lg text-center" />
                        </div>
                    }
                </li>
        }
    </ul>
}
else
{
    <h2>You are not registered to any courses yet.</h2>
}