@model IEnumerable<Courses.Web.Models.ListCourses.CourseListViewModel>

@if (Model.Any())
{
    <ul class="list-group">
        @foreach (var registeredCourse in Model)
        {
            <li class="list-group-item">
                @using (Ajax.BeginForm("UnregisterFromCourse", "ListCourses", new { @courseId = registeredCourse.Id }, new AjaxOptions()
                {
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "courses-container"
                }))
                {
                    @Html.AntiForgeryToken()

                    @registeredCourse.CourseName
                    <span class="badge">@registeredCourse.CoursePoints</span>
                    <input type="submit" value="Unregister" class="popup-button-group text-center" />
                }
            </li>
        }
    </ul>
}
else
{
    <h2>You are not registered to any courses yet.</h2>
}